* {
    text-transform: none !important; /* no all caps */
}

.calc-wallet-section-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.calc-wallet-section-container #row {
    width: 250px;
    display: flex;
    align-items: center;
}

.calc-main-section {
    display: flex; justify-content: center; flex-direction: column; align-items: center    
}

.calc-display-text {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.calc-display-error-text {
    position: absolute; bottom: 0px; color: #882525
}

.calc-display {
    position: relative;
    width: 90%;
    padding: 10px;
    height: 70px;
    background-color: #b7aa6f;
    border-radius: 15px;
    display: flex;
    align-items: center;

    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

.calc-grid-container {
    width: 90%; display: flex; justify-content: center
}

.calc-button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
}

.calc-button {
    margin: 15px;
    height: 50px !important;
    text-align: center;
    font-size: 30px;
}

.extended-button {
    grid-column-start: 1;
    grid-column-end: 5;
}

.blink {
    animation: blink-animation 0.5s steps(2, start) infinite;
    -webkit-animation: blink-animation 0.5s steps(2, start) infinite;
}

.short-wallet-address {
    margin-left: 10px;
    padding: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid #757575;
    border-radius: 10px;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
